.box{
    width: 100%;
    height: 100px;
    background-color: brown;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: coral;
}
.box3{
    background-color: darkgoldenrod;
}
.container{
    display: flex;
}
.box4{
    width: 30%;
    background-color: black;
}
.box5{
    width: 30%;
    background-color: aquamarine;
}
.box6{
    width: 30%;
    background-color: violet;
}

.container3{
    display: flex;
    

}
.box6{
    height: 50%;
    background-color: yellow;
}
.box7{
    height: 50%;
    background-color: pink;
}
.container4{
    display: flex;
    flex-direction: column;
    width:100%;
}
.box8{
    background-color: orange;
    width: 200%;
}